.page {
  --background: #fafafa;
  --foreground: #fff;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  padding: 20px;

  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
