@import './styles/breakpoints.css';

:root {
  --background: #ffffff;
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

h1 {
  font-size: 50px;
  text-align: center;
}

button {
  cursor: pointer;
}
