.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  @media (min-width: 768px) and (max-width: 1023px) {
    grid-template-columns: repeat(2, minmax(340px, 1fr));
  }

  @media (--desktop) {
    grid-template-columns: repeat(3, minmax(340px, 1fr));
  }
}
